[Unit]
Description=Named

[Service]
Type=forking
ExecStart=/bin/bash -c /ansible/roles/dns-master/files/startup.script

[Install]
WantedBy=multi-user.target